schemas/test_schema_improved.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="limited_string">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="description">
        <xs:restriction base="xs:string">
          <xs:maxLength value="1000" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="limited_float">
        <xs:restriction base="xs:float">
            <xs:minExclusive value="0"/>
            <xs:maxExclusive value="3.402823466E+38"/>
            <xs:pattern value="((0|[1-9][0-9]*)[.])?[0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="author" type="limited_string"/>
    <xs:element name="title" type="limited_string"/>
    <xs:element name="genre" type="limited_string"/>
    <xs:element name="price" type="limited_float"/>
    <xs:element name="publish_date" type="xs:date"/>
    <xs:element name="description" type="description"/>
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="author"/>
                <xs:element ref="title"/>
                <xs:element ref="genre"/>
                <xs:element ref="price"/>
                <xs:element ref="publish_date"/>
                <xs:element ref="description"/>
            </xs:sequence>
            <xs:attribute type="limited_string" name="id" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="book" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>